* {
}



.grid {
    height: 600px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    border: 4px solid black;
}

.grid div {
    box-sizing: border-box;
    border: 1px solid black;
}






